/node_modules
/public/build
/public/js
/public/css
/public/hot
/public/mani
/public/storage
/public/mix-manifest.json
/public/manifest.js
/public/**/*.map
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
